.logo .logo2 {
  display: none;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.BarsBar,
.menuItems,
.closeBar,
.bars {
  display: none;
}
/* .logo1, .logo2 */
.closeBar,
.bars {
  background-color: aliceblue !important;
  color: black !important;
}

.dashBoard {
  position: absolute;
  z-index: 1000;
  width: 150px;
  top: 30px;
  right: 20px;
  border-radius: 10px;

  background-color: rgb(249, 249, 249);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.nabBg {
  background-color: #aaeaf2;
  border-bottom: 4px solid white !important;
  box-shadow: #aaeaf200;
  position: sticky;
  top: 0;
  width: 100%;
}

@media screen and (min-width: 1px) and (max-width: 750px) {
  .BarsBar,
  .menuItems,
  .closeBar,
  .bars {
    display: block;
  }
  /* .logo .logo2 */
  .menuItem {
    display: none !important;
  }
  .menuItems {
    position: absolute;
    display: block !important;
    top: 108px !important;
    right: -1px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    text-align: center;
    z-index: 1000;
  }
  .menuItems li {
    margin: 10px !important;
  }
}
@media screen and (min-width: 751px) {
  /* .logo .logo1{
        display: block;
    } */
  .menuItems {
    display: flex !important;
    z-index: 1000 !important;
  }
  .menuItem {
    display: flex !important;
  }
  .menuItem {
    display: flex;
  }
  .menuItem li {
    margin: 0 10px !important;
  }
  .menuItems li {
    margin: 10px !important;
  }
  .menuItems li a {
    font-size: 20px !important;
    font-weight: 600px !important;
  }
}

.dashBoard li {
  display: flex;
  align-items: center;
  margin: 10px auto !important;
}
